@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body{
    margin:0px;
    font-family: 'Silkscreen', cursive;
    color: #e0e871;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
    background-color:#16b696;
}

.dashboard-title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 40px;
}


h1 img{
    height: 30px;
}

.dash-container-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.dash-item{
    display: flex;
    gap: 15px;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0px;
    font-weight:bold;
}

.dash-item>img{
    height: 30px;
}

.dash-container-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    grid-row: 1 / span 1;
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    background-color:#3ec7b7;
}

.top{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.search-bar { 
    display: flex;
    
}

label img{
    height: 30px;
    width: 30px;
    margin: 5px;
}

input{
    background-color:#257c6b;
    border-radius: 12px;
    height: 20px;
    margin-top: 10px;
    font-family: 'Silkscreen', cursive;
    width: 300px;
    border-color: #232727;
    border-style: dashed;
}

input::placeholder{
    color:#f4f68d;
    text-align: center;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.profile-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-info img{
    height: 30px;
}

.left{
    display: flex;
    gap: 20px;
}

.greeting{
    max-width: 100px;
}

.right{
    display: flex;
    width: 400px;
    justify-content: space-between;
    height: 50px;
}

.btn{
    border-radius: 12px;
    background-color:#257c6b;
    font-family: 'Silkscreen', cursive;
    color:#f4f68d;
    min-width: 100px;
    border-color: #020202;

}

.content{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color:#1ba488;
    display: flex;
    padding: 40px;
}

.content-container{

}

.left-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 50px;
    grid-auto-flow: column;
    flex: 2;
    
}

.content-items{
    border-style: solid;
    border-color: rgb(82, 216, 250);
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(3, 7, 7);

}

h4{
    text-decoration: underline;
